$full-width-max: 48em;
$full-width-app: 48.125em;

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 16px;
    background: #f1f1f1;
    color: $color-type;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

.ng-hide {
    /* this is just another form of hiding an element */
    display: block !important;
    position: absolute;
    top: -9999px;
    left: -9999px;
}